/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;700;800&family=Dancing+Script:wght@700&display=swap');

.form
{
    background-color: slateblue;
    border-radius: 10px;
    padding: 10px;
}



.head
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: xxx-large;
}


.new-entry__controls
{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content:start;
    /* align-items: ; */
    /* height: 300px; */
    /* border: 3px solid green; */
}

.new-entry__control
{
    padding-top: 30px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    font-size: x-large;
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: bold;
    border-radius: 10px;
}

.new-entry__control > input
{
    /* padding-top: 30px; */
    /* padding-left: 10px; */
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    /* font-size: xx-large; */
    border-radius: 10px;
    font-family: 'Baloo Tammudu 2', cursive;
}
.new-entry__control > select
{
    /* padding-top: 30px; */
    /* padding-left: 10px; */
    font-family: 'Baloo Tammudu 2', cursive;
    margin-left: 10px;
    height: 40px;
    /* align-items: center; */
    font-size: large;
    border-radius: 10px;
}


.new-entry__actions
{
    display : flex;
    justify-content: center;
    /* align-items: center; */
}

.new-entry__action
{
    font-size: xx-large;
    padding: 5px 10px 0px 10px ;
    margin: 10px 10px 10px 10px ;
    display: flex;
    background-color: rgb(111, 0, 255);
    border-radius: 20px;
    color: white;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-family: 'Baloo Tammudu 2', cursive;
}

.invent
{
    background-color: skyblue;
}